# Unity / C# Project

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]in/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# MemoryCaptures can be huge
MemoryCaptures/

# Visual Studio cache files
.vs/

# Rider
.idea/

# User-specific files
*.user
*.userprefs
*.suo

# Build results
/[Bb]uild/
/[Bb]uilds/

build_log_retry2.txt
build_log.txt
logOutbut.og
build_log_v1.2.txt
